<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職引960-會員登入</title> <!--document.title = "會員註冊"-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://kit.fontawesome.com/d18b20bddd.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./css/app_public.css"> -->
    @@include('app/link.html')
    <link rel="stylesheet" href="./css/pages_scss/member/member_all.css">
</head>
<body class="mem_sign_in">
    @@include('app/header.html')
    <main>
        <div class="mem_log_con_width">
            <div class = "mem_log_content" id = "mem_log_change">
                <div class = "mem_log_con_left common_set">
                    <div class = "com_set_area">
                        <h2>會員註冊</h2>
                        <span>現在就來加入會員，來紀錄測驗結果與購買線上課程吧！</span>
                        <button id = "mem_register" @click="signIn = !signIn, register = !register" class = "btn_primary">註冊</button>
                    </div>
                </div>
                <div class = "mem_log_con_right common_set">
                    <div class = "com_set_area">
                        <h2>會員登入</h2>
                        <span>立即登入職引960開始上課吧！</span>
                        <button id = "mem_signin" @click="signIn = !signIn, register = !register" class = "btn_primary">登入</button>
                    </div>
                </div>
                <div class = "mem_log_interface" :class = "{sign_in: signIn}">
                    <h1>{{signIn == true ? "會員登入" : "會員註冊"}}</h1>
                    <transition name = "mem_sign_in">
                        <form class = "sign_in_from" action = "#" v-if="signIn == true">
                            <div class = "input_div">
                                <label for="account" class="input_label">帳號：</label>
                                <input type="email" placeholder="123@gmail.com" required="required" class="input_field" id="account" value="123456789@gmail.com">
                            </div>
                            <div class = "input_div">
                                <label for="code" class="input_label">密碼：</label>
                                <input type="password"  pattern="[a-zA-Z0-9]{10,10}" required="required" class="input_field" id="code" value="1234567890">
                            </div>
                            <div class = "input_button">
                                <button class = "btn_primary rwd_btn" @click.prevent = "signIn = !signIn, register = !register">{{signIn == false ? "會員登入" : "會員註冊"}}</button>
                                <button class = "btn_third" @click.prevent="changePage">送出</button>
                            </div>
                        </form>
                    </transition>
                    <transition name = "mem_sign_in">
                        <form class = "sign_in_from" action = "#" v-if="register == true">
                            <div class = "input_div">
                                <label for="account" class="input_label">請輸入電子郵件：</label>
                                <input type="email" placeholder="123@gmail.com" required="required" class="input_field" id="account">
                            </div>
                            <div class = "input_div">
                                <label for="memName" class="input_label">請輸入名稱：</label>
                                <input type="text" placeholder="老頑童" required="required" class="input_field" id="memName">
                            </div>
                            <div class = "input_div">
                                <label for="code" class="input_label">請輸入密碼：</label>
                                <input type="password"  pattern="[a-zA-Z0-9]{10,10}" required="required" class="input_field" id="code">
                            </div>
                            <div class = "input_div">
                                <label for="code_again" class="input_label">再次輸入密碼：</label>
                                <input type="password"  pattern="[a-zA-Z0-9]{10,10}" required="required" class="input_field" id="code_again">
                            </div>
                            <div class = "input_button">
                                <button class = "btn_primary rwd_btn" @click.prevent = "signIn = !signIn, register = !register">{{signIn == false ? "會員登入" : "會員註冊"}}</button>
                                <button class = "btn_third" @click.prevent="changePageSignUp">送出</button>
                            </div>
                        </form>
                    </transition>
                </div>
                <img class="mem_log_fir" src="./img/member/右側小人.svg" v-if="screenWidth > 1000">
                <img class="mem_log_sec" src="./img/member/上方探頭小人.svg" v-if="screenWidth > 1000">
            </div>
        </div>
    </main>
    @@include('app/footer.html')
    @@include('app/script.html')
    <script type="text/javascript" src="./js/member/member_sign_in.js"></script>
</body>
</html>