@import "../../_public_dontTouch/utils/mixin";
div.header_wrap header.header div.header_nav ul li:nth-child(3) a::after {
  @include header_line;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
}

#forum_form {
  background-image: url("../../../img/forum/forum.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 600px;
  h3 {
    padding: 25px 0;
    width: 630px;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
  }
}

#form_wrap {
  max-width: 700px;
  margin: 0 auto;
}
.title {
  justify-content: end;
}

.form-group {
  margin-top: 20px;
  justify-content: center;
  //標題
  .select_name {
    width: 90px;
    line-height: 35px;
  }
  .topic_text {
    border-radius: 5px;
    border: 2px solid #f6f3ed;
    width: 540px;
    #text_topic {
      border: none;
      height: 35px;
      width: 100%;
      background-color: transparent;
      padding: 10px;
    }
  }
  .space {
    z-index: 0;
    padding: 0;
    width: 540px;
    border: 2px solid #f6f3ed;
    border-radius: 5px;
  }

  // input[type="text"],
  textarea {
    border: none;
    resize: none;
    height: 500px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
  }
  .qu_space {
    width: 50px;
  }
}

.btn-group {
  text-align: center;
  input {
    margin: 10px;
  }
}

.m_50 {
  margin-top: 20px;
}

.second_fix {
  max-height: 30px;
}

.bottom_btn {
  padding-left: 70px;
  padding-bottom: 35px;
}

//按鈕隔開
.btn_third {
  margin: 0 10px;
}

//下拉選單type
$color: gray;
$timing: 0.3s;

.dropdown-el {
  position: relative;
  display: inline-block;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  // color: white;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 5px;
  background-color: #f6f3ed;

  transition: $timing all ease-in-out;
  width: 200px;
  z-index: 10;
  // input:focus + label {
  //   background: #1b4d9f;
  // }
  input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  label {
    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: $timing color ease-in-out;
    &:nth-child(2) {
      margin-top: 2em;
      border-top: 0.06em solid #d9d9d9;
    }
  }
  input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;

    &:nth-child(2) {
      margin-top: 0;
      position: relative;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid $color;
    border-color: $color transparent transparent transparent;
    transition: 0.4s all ease-in-out;
  }
  &.expanded {
    // border: 0.06em solid $color;
    // background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 15em;

    label {
      border-top: 0.06em solid #d9d9d9;
      &:hover {
        color: $color;
      }
    }
    input:checked + label {
      color: $color;
    }

    &::after {
      transform: rotate(-180deg);
      top: 0.55em;
    }
  }
}

//下拉選單
.dropdown_share {
  position: relative;
  display: inline-block;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  // color: white;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 5px;
  background-color: #f6f3ed;

  transition: $timing all ease-in-out;
  width: 200px;
  z-index: 20;
  // input:focus + label {
  //   background: #1b4d9f;
  // }
  input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  label {
    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: $timing color ease-in-out;
    &:nth-child(2) {
      margin-top: 2em;
      // border-top: 0.06em solid #d9d9d9;
    }
  }
  input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;

    &:nth-child(2) {
      margin-top: 0;
      position: relative;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid $color;
    border-color: $color transparent transparent transparent;
    transition: 0.4s all ease-in-out;
  }
  &.expanded_share {
    // border: 0.06em solid $color;
    // background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 4em;

    label {
      border-top: 0.06em solid #d9d9d9;
      &:hover {
        color: $color;
      }
    }
    input:checked + label {
      color: $color;
    }

    &::after {
      transform: rotate(-180deg);
      top: 0.55em;
    }
  }
}

/* RWD */

@media screen and (max-width: 992px) {
  .type_list {
    min-width: 200px;
  }

  .second_fix {
    max-height: 40px;
  }
}

@media screen and (max-width: 650px) {
  .form-group {
    margin: 5px 0;
    .dropdown-el,
    .dropdown_share {
      width: 100%;
    }
    div {
      margin: 5px 0;
      // z-index: 10;
    }
    .space {
      width: 100%;
      margin-top: 50px;
    }
    .select_name {
      width: 100%;
      height: 30px;
    }
  }

  .second_fix {
    max-height: 100px;
  }

  .bottom_btn {
    padding-left: 0px;
  }
}
