@import "../../_public_dontTouch/utils/mixin";

div.header_wrap header.header div.header_nav ul li:nth-child(2) a::after {
  @include header_line;
}

body.car_pro_body {
  width: 100%;
  background-color: #f6f3ed;
  background-image: url("../../../img/career/career_profession_background_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.car_pro_con_width {
  display: flex;
  padding: 0;
  max-width: 1200px;
  min-height: calc(100% - 130px);
  flex-wrap: wrap;
  .car_pro_title {
    display: flex;
    height: 40px;
    flex-wrap: wrap;
    div {
      border-radius: 0;
    }
  }
  .car_pro_con {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    .car_pro_info {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 10px auto;
        width: fit-content;
      }
      img {
        margin: 10px auto;
        width: 100%;
        max-width: 300px;
        max-height: 350px;
        border: 3px solid;
        border-radius: 25px;
      }
      h3 {
        margin: 20px 0 10px;
      }
      .car_pro_info_title {
        font-weight: 700;
      }
      .car_pro_info_img {
        width: fit-content;
        background-image: url("../../../img/career/career_profession_info.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      ul {
        margin: 10px 0;
        li {
          display: flex;
          position: relative;
          span.car_li_color {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
          }
          span.car_li_content {
            margin-left: 15px;
          }
        }
      }
    }
    .car_pro_con_area {
      display: flex;
      flex-wrap: wrap;
      min-height: 40px;
      * {
        padding: 0;
      }
      .order_double {
        order: 1;
      }
      .order_first {
        order: 0;
      }
      .order_second {
        order: 2;
      }
      .car_pro_con_span {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        // margin: 10px 0px;
        // height: 40px;
        font-size: 22px;
        font-weight: 700;
        color: white;
        background-color: #aaaaaa;
      }
      h3 {
        display: flex;
        padding: 8px 0;
        padding-left: 10px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        line-height: 1.5;
      }
      h3.car_pro_con_cen {
        padding-left: 0px;
        text-align: center;
      }
      ul {
        margin: 0 10px;
        padding: 8px 0;
        width: 100%;
        max-width: calc(100% - 20px);
        li {
          display: flex;
          margin: 15px 0;
          padding-left: 10px;
          position: relative;
          font-size: 22px;
          line-height: 1.5;

          span.car_li_color {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 10px;
          }
          span.car_li_content {
            margin-left: 15px;
            font-size: 18px;
          }
        }
      }
    }
    .car_pro_con_pad {
      padding-top: 50px;
      height: fit-content;
      .car_pro_con_area {
        height: fit-content;
      }
    }
    .car_pro_con_mar {
      margin: 10px 0;
    }
    .car_pro_lhs_plot_area {
      display: flex;
      margin: 20px auto;
      flex-wrap: wrap;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 25px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      h3 {
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
      }
      .car_pro_lhs_plot,
      .car_pro_inc_plot {
        margin: 20px 0;
        height: 300px;
      }
    }
  }
}

@media (max-width: 400px) {
  .car_pro_con_width .car_pro_title {
    margin: 20px 0;
  }
  .car_pro_con_width .car_pro_title div {
    padding: 5px;
  }
  .car_pro_con_width .car_pro_con .car_pro_con_area .car_pro_con_span {
    padding: 0 15px;
    line-height: 1.5;
  }
}
